html {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
}

table {
    border: 3px solid black;
    text-align: center;
    margin: 0 auto;
}

.title {
    text-align: center;
}

.links {
    text-align: center;
    padding-top: 35px;
}

body {
    background-color: rebeccapurple;
    color: white;
}
